h1{
	font-family: "Raleway", sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
	
}

header{
	background-color:  #F15B31;
	padding: 30px 20px;
	margin: 0px;

}

.subheading{
	font-family: "Raleway", sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin: 0px 20px;
	text-transform: uppercase;
	

	
	
}

nav{
background-color: #00A6B3;
padding: 20px 0px;
border-bottom: 2px solid transparent;
}

a:hover {
	border-bottom: 2px solid transparent;
	border-bottom-color: white;

}

main{
	width: 850px;
	margin: 35px auto;
}

img{
	margin: 40px 8px 0px 8px ;
}




h2{
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;

}

p{
	font-family: "Droid serif", sans-serif;
	line-height: 26px;
	font-size: 18px;
}


body{
	text-align: center;
	margin: 0px;
}

footer{
	text-transform: uppercase;
	padding: 0px 20px;
	background: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: 0.08em;
	font-weight: 500;*/
}

.copyright{

float: left;
}

.message{

	float: right;
	text-align-last: left;
}

.name{
	color: #F15B31;
	font-weight: 700;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

